header{
    width: 100%;
    background: url(../../../media/SoR.jpg);
    background-position: center;
    background-size: cover;
}

.enlaces{
    width: 100vh; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor en la página */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centrar el contenido dentro del contenedor */
    display: flex; /* Usar flexbox para distribuir los enlaces */
    justify-content: space-around; /* Espacio entre los enlaces */

}

.enlaces button{
    all: unset;
    text-transform: uppercase;
    background-color: rgb(37, 35, 25);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin: 10px;
    font-weight: 900;
    color: rgb(255, 200, 0);
}
.enlaces button:hover{
    background-color: rgba(144, 0, 247);
}
