<div class="padre-details">

<div class="videojuego-detail-container">

    <div class="header">
        <h2>Más Informacion</h2>
    </div>

    <div class="videojuego-detalles-tarjeta">

        <p>Nombre Videojuego :</p>  {{videojuego.name}}
        <p>Tipo Videojuego : </p> {{videojuego.type}}
        <p>Descripción :</p>{{videojuego.descripcion}}
        <a routerLink="/list">Volver a la lista</a>

        <div *ngIf="!videojuego">
            <p>Videojuego no encontrado.</p>
        </div>
    </div>

</div>

