<div *ngIf="cargando" class="loading">
    <p>Cargando detalles del videojuego...</p>
  </div>
<div class="titulo">
  
  <h2>Detalles del VIDEOJUEGO</h2>
</div>
  
  <div *ngIf="!cargando && videojuego" class="videojuego-details">
    <h2>{{ videojuego?.nombre }}</h2>
    <p><strong>Tipo:</strong> {{ videojuego?.tipo_nombre }}</p>
    <p><strong>Año:</strong> {{ videojuego?.anyo }}</p>
    
  </div>
  
  <!-- Si ocurre un error -->
  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>