.videojuego-edit-container{
    margin: 10vh auto; /* Centrado vertical y horizontal */
    background: linear-gradient(135deg, #3b3b3b, #0a1172);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    text-align: center;
    width: 50vh;
    border: 2px solid rgba(195, 195, 111, 0.8); /* Bordes ligeramente transparentes */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Sombra más suave y profesional */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}
.videojuego-editar-tarjeta{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.videojuego-edit-tarjeta{
    display: flex;
    flex-direction: column;
}

.videojuego-edit-tarjeta input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: gray;
    margin: 10px;
}

.videojuego-edit-tarjeta button{
    width: 250px;
    height: 30px;
    background-color: rgb(24, 67, 174);
}

