/* ESTILOS DE LOS SELECT EN EL FORMULARIO DE EDICIÓN */
.videojuego-edit-tarjeta select {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #ffeb3b;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    margin: 10px;
    padding: 12px;
    border: 2px solid #ffeb3b; /* Borde amarillo brillante */
    box-shadow: 0 4px 12px rgba(255, 0, 255, 0.5); /* Sombra morada */
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para cuando el select tiene foco */
.videojuego-edit-tarjeta select:focus {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ff00ff; /* Borde morado cuando el select tiene foco */
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8); /* Sombra más prominente */
    color: #ffeb3b;
}

/* Opciones dentro del select */
.videojuego-edit-tarjeta select option {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffeb3b;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px;
    border: none;
}

/* Efecto de hover en las opciones del select */
.videojuego-edit-tarjeta select option:hover {
    background-color: rgba(255, 0, 255, 0.8); /* Color de fondo morado al pasar el mouse */
    color: #000; /* Color de texto negro al pasar el mouse */
}
