.videojuego-edit-container{
    margin: 10vh auto; /* Centrado vertical y horizontal */
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    color: yellow;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    text-align: center;
    width: 50vh;
    border: 2px solid rgba(195, 195, 111, 0.8); /* Bordes ligeramente transparentes */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Sombra más suave y profesional */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}
.videojuego-edit-tarjeta{
    display: flex;
    flex-direction: column;
}

.el1 .el2 .el3 .el4 .el5{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}


.videojuego-edit-tarjeta input{
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
    margin: 5px;
    padding: 10px;
}

.videojuego-edit-tarjeta button{
    width: 250px;
    height: 30px;
    margin: 10px;
    background-color: rgb(64, 104, 204);
    align-self: center;
    border: 2px solid rgb(25, 0, 255);
    border-radius: 10px;
}
.videojuego-edit-tarjeta button:hover{
    border: 2px solid gold;
    background-color: rgb(84, 24, 174);
}

.modal {
    position: fixed; /* Hace que el modal se mantenga fijo en la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    display: flex; /* Usar flex para centrar el contenido */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semi-transparente */
    backdrop-filter: blur(10px); 
}

.modalContenido {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Ancho del modal */
    text-align: center; /* Centra el texto dentro del modal */
}

.modalContenido h3 {
    margin: 0 0 10px; /* Espaciado del título */
}

.modalContenido p {
    margin: 10px 0; /* Espaciado del párrafo */
}

.modalContenido button {
    margin: 5px; /* Espaciado entre botones */
}

.divAncla{
    display: flex;
    align-self: end;
}

a{
    background-color: red;
    padding: 5px;
    width: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 234, 0, 0.6); 
   
}

.inputs{
    padding: 10px;
    margin-top: 5vh;
}

.header{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.header h2{
    color: yellow;
    font-size: 40px;
}
