.lista{
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    text-align: center;
    height: 80vh;
}


ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    background: linear-gradient(135deg, #de950d, #1a218c);
    box-shadow: 0 2px 12px rgba(255, 0, 0, 0.5);
    color: #000000; /* Texto negro */
    padding: 10px;
    font-weight: bold;
    margin: 5px ;
    width: 25%;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 15px;
     border: 5px solid black;
    align-items: center;
}

button{
    display: inline-block; /* Permite que el botón tenga dimensiones específicas */
    padding: 6px; /* Espaciado interno */
    font-size: 15px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 25%;
}
button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
}
