.lista{

    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;;
    display: flex;
    flex-direction: column;
    text-align: center;
}


li{
    background-color: rgb(255, 255, 255); /* Verde suave */
    color: #000000; /* Texto negro */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    list-style: none; 
    text-transform: uppercase;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    
}

button{
    display: inline-block; /* Permite que el botón tenga dimensiones específicas */
    padding: px 3px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
}
