

<div class="lista">

    <p *ngIf="videojuegos.length === 0"> Hemos quebrado, no vendemos nada</p>
    <ul>
        <li *ngFor="let videojuego of videojuegos, let i = index">
            {{videojuego.name}} <br> 
            Tipo:  {{videojuego.type}} <br> 
            Año: {{videojuego.year}} <br> 
            Plataforma: {{videojuego.platform}} 
            
            <button (click)="deleteVideojuego(i)">
                <i class="fas fa-trash"></i> 
            </button>

            <button id="detail-button" (click)="verVideojuego(videojuego.id)">Detalles</button>
        </li>
    </ul>
</div>