


<div class="padre">

  <div class="enlaces">
    <a routerLink="/list">
      <i class="fas fa-list"></i> Videogames's List
  </a>

  <br>

  <a routerLink="/addVideogame">
      <i class="fas fa-plus"></i> Add Videogame
  </a>
  </div>


  <!-- Esta linea es la que nos va a mostrar el componente de la lista -->

  <router-outlet> </router-outlet>

  <footer>
      <h3>Mi Tienda de Videojuegos</h3>
     
      <div>
        <a href="#" style="margin-right: 10px;">
          <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" style="margin-right: 10px;">
          <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="#">
          <i class="fab fa-instagram"></i> Instagram
      </a>
      </div>

      <p>© 2024 Todos los derechos reservados.</p>
    </footer>
    
</div>