body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente limpia y moderna */
    background-color: #f4f4f4; /* Color de fondo suave */
    margin: 0; /* Eliminar márgenes del cuerpo */
    
}


h2 {
    font-size: 2.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: rgb(25, 45, 85); /* Color azul oscuro */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 0 0 25px rgba(50, 150, 255, 0.6); /* Sombra para dar profundidad */
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(139, 143, 140)); /* Gradiente de fondo */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin: 20px 0; /* Espaciado externo */
    text-align: center; /* Alinear el texto al centro */
}

h3 {
    color: yellow;
    font-size: 30px;
    font-size: 900;
}

p{
    color: yellow;
    font-size: 30px;
    font-weight: 900;
}




footer {
    padding: 10px; /* Espaciado dentro del footer */
    text-align: center; /* Centra el contenido del footer */
    bottom: 0;
    position: fixed;
    height: 10vh;
    background:url(../media/SoR.jpg);
    background-position: center;
}

