body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente limpia y moderna */
    background-color: #f4f4f4; /* Color de fondo suave */
    margin: 0; /* Eliminar márgenes del cuerpo */
}


.enlaces{
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centrar el contenido dentro del contenedor */
    display: flex; /* Usar flexbox para distribuir los enlaces */
    justify-content: space-around; /* Espacio entre los enlaces */

    
}

a{
    all: unset;
    text-transform: uppercase;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

a:hover {
    background-color: #2f73b7; /* Color más oscuro al pasar el ratón */
}