<div class="imageTest">
    <img src="../../../../media/Rage1.png" srcset="">
</div>

<div class="lista">

    <p *ngIf="videojuegos.length === 0"> Hemos quebrado, no vendemos nada</p>
    <ul>
        <li *ngFor="let videojuego of videojuegos, let i = index">
            {{videojuego.name}} <br> 
            Tipo:  {{videojuego.type}} <br> 
            Año: {{videojuego.year}} <br> 
            Plataforma: {{videojuego.platform}} 

            <button (click)="openModal(i)">
                <i class="fas fa-trash"></i> 
            </button>

            <button id="detail-button" (click)="verVideojuego(videojuego.id)">Detalles</button>
            <button id="detail-button" (click)="editarVideojuego(videojuego.id, videojuego.name, videojuego.type, videojuego.year, videojuego.platform, videojuego.platform)">Editar</button>
        </li>
    </ul>

    <div class="modal" *ngIf="showModal">

    <div class="modalContenido">
        <h3>Confirmar Eliminacion</h3>
        <p>Seguro que lo quieres eliminar? No hay vuelta atrás.</p>
        <button (click)="deleteVideojuego()">
            Si, eliminar.
        </button>
        
        <button (click)="closeModal()">Mejor no.</button>
    </div>
</div>
</div>

