<div class="images">
    <div class="imageTest">
        <img src="../../../../media/Rage1.png" alt="">
    </div>
    <div class="imageTest">
        <img src="../../../../media/Rage4.png" alt="">
    </div>
</div>

<div class="lista">

    <p *ngIf="videojuegos && videojuegos.length === 0">Hemos quebrado, no vendemos nada</p>

    <ul>
        <!-- Recorremos el array 'videojuegos' -->
        <li *ngFor="let videojuego of videojuegos; let i = index">
            {{videojuego.nombre}} <br>  <!-- Cambiado 'name' a 'nombre' -->
            Tipo: {{videojuego.tipo_nombre}} <br>  <!-- Cambiado 'type' a 'tipo_nombre' -->
            Año: {{videojuego.anyo}} <br>  <!-- Cambiado 'year' a 'anyo' -->

            <button (click)="openModal(i)">
                <i class="fas fa-trash"></i> 
            </button>

            <button id="detail-button" (click)="verVideojuego(videojuego.id)">Detalles</button>
            <!--<button id="detail-button" (click)="editarVideojuego(videojuego.id, videojuego.nombre, videojuego.tipo_nombre, videojuego.anyo, videojuego.plataforma)">Editar</button>-->
        </li>
    </ul>

    <!-- Modal de confirmación para eliminar -->
    <div class="modal" *ngIf="showModal">

        <div class="modal-content">
            <p>¿Estás seguro de que deseas eliminar este videojuego?</p>
            <button (click)="deleteVideojuegoPro()">Sí</button>
            <button (click)="closeModal()">No</button>
        </div>
        
    </div>

</div>
