<div class="images">
    <div class="imageTest"> 
         <img src="../../../../media/Rage1.png" alt="">
     </div>
     <div class="imageTest"> 
         <img src="../../../../media/Rage4.png" alt="">
     </div>
 </div>
 <div class="addVideojuego">
    <h3>Add Videogame</h3>

    <form [formGroup]="form" (ngSubmit)="addVideojuego()"> 
        <input placeholder="Nombre" formControlName="name">
        
        <select formControlName="type">
            <option *ngFor="let tipo of tiposVideojuego" [value]="tipo.id">{{ tipo.nombre }}</option>
        </select>
    
        <input placeholder="Año" formControlName="year">
        
        <select formControlName="platform">
            <option *ngFor="let plataforma of plataformas" [value]="plataforma.id">{{ plataforma.nombreplataforma }}</option>
        </select>
        
        <input type="text" placeholder="Descripción" formControlName="descripcion">
    
        <button type="submit" [disabled]="form.invalid">Agregar videojuego</button>
    </form>

    <div *ngIf="showModal" class="modal" [ngClass]="form.valid ? 'valid-button' : 'default-button'">
        <div class="modal-content">
            <h2>¡Videojuego añadido!</h2>
            <p>El videojuego ha sido agregado exitosamente.</p>
            <button (click)="closeModal()">Aceptar</button>
        </div>
    </div>
</div>
